footer{
    border-top: .1em solid #f5d244;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 5em;
    background-color: rgba(124, 124, 124, 0.399);
    margin-top: 3em;
}

.redSocial{
    margin:1em .2em;
    height: 3em;
    width: 2.8em;
    //background-color:rgba(124, 124, 124, 0.399);
}

#face{
    background-image: url(../../img/icons/face.svg);

    &:hover{
        background-image: url(../../img/icons/face-hover.svg);

    }
}
#insta{
    background-image: url(../../img/icons/insta.svg);

    &:hover{
        background-image: url(../../img/icons/insta-hover.svg);
    }
}
#git{
    background-image: url(../../img/icons/git.svg);

    &:hover{
        background-image: url(../../img/icons/git-hover.svg);
    }
}