*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: rgba(189, 189, 189, 0.774);
  //background-color: #fff;
}

.titulo{
  font-size: xx-large;
  font-weight:bolder;
  color: rgb(0, 0, 216);
  position:relative;
  top: 1.7em;
  left: 5em;
  z-index: -1;
}
