#nosotros-img{
    background-image: url(../../img/productos/nosotros_escalado_1.jpg);
    height:90vh;
    opacity: .8;
    margin-bottom: 6em;

    @media (max-width: 768px){
       &{       
            background-position: center;
        }
    }
}
.contenedor-text{
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    margin: 2.5em auto;   
    justify-content: center;
    width: 70em;
    
    @media (max-width: 768px){
        &{
            outline: none;
            width: auto;
         }
    }

    &__info{
        width: auto;
        height: 70vh;
        display: flex;
        background-color: rgb(167, 167, 167);
        border-radius: 2em;
        margin-bottom: 5em;

        & p{
            background-color: #b9b9b9;
            padding: .5em 3.7em .5em 1em;
            margin-right: 1.3em;
        }

/*         @media (max-width: 768px){
            &{
                outline: none;
                width: auto;
                flex-direction: column;
             }
        } */
     }

    &__infoImportant{
        width:50em;
        padding: 1em 1.5em;
        display: flex;
        margin-bottom: 3em;

    & p{
        margin-left: 2em; 
        padding-top: 4em;       
    }

        @media (max-width: 768px){
            &{
                outline: none;
                background-color: black;
                color: yellow;
                font-weight: bold;
                width:16em;
             }
        }    
    } 
}

#lastText{
    background-color: #b9b9b9;
    border: none;
}