.container-alta{
    padding: 10px;

    h1, h2{
        color: blue;
    }

    div, input {
        width: 300px;
        display: block;
        margin-bottom: 1px;
        padding: 5px;
    }

    button{
        display: block;
        margin-top: 20px;
        width: 80px;
        background-color: blue;
        color: whitesmoke;
        cursor: pointer;
        margin-bottom: 10px;
        
        &:hover{
            background-color: green;
        }
        &:disabled {
            background-color: red;
        }
    }



    input[type="checkbox"]{
        display: inline;
        width: 15px;
        height: 15px;
        margin-top: 10px;
    }

    form .mensaje-validacion {
        border: 1px solid crimson;
        background-color: gold;
        color: darkred;
        margin: 2px 0 10px 0;
        border-radius: 5px;
        display: none;
    }

    table, th, td{
        border:  1px solid black;
        border-collapse: collapse;
    }

    table{
        width: 90%;
    }

    #listado-productos{
        width: 100%;
    }

    /* DROP AREA */

    #drop-area {
        border: 5px dashed #ccc;
        border-radius: 20px;
        width: 300px;
        margin: 25px 0;
        padding: 20px;
    }

    .button{
        display: inline-block;
        padding: 10px;
        background: #ccc;
        cursor: pointer;
        border-radius: 5px;
        border-radius: 1px solid #ccc;
    }

    #foto{
        display: none;
    }

    #gallery img{
        width: 100px;
        margin-top: 10px;
        margin-right: 10px;
        vertical-align: middle;
    }

    #drop-area.highlight {
        border-color: purple;
    }
}

