.container-alta{
    padding: 10px;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2em 50%;
    }

    h1, h2{
        color: blue;
        text-align: center;
        margin-top: 1em;
    }
    
    div, input{
        width: 300px;
        margin-bottom: 1px;
        padding: 5px;
    }
    
    #datos {
        display: grid;
        grid-template-columns: 5em 4em;
        //padding-left: 35%;
        padding: 1em 50%;
    }

    input[type="text"]{
        display: inline-block;
        margin-bottom: 2em;
        width: 16em;
    }

    .button{
        //z-index: -1;
        display: block;
        margin: 1em auto;
        padding: 1em 2em;
        background-color:  dodgerblue;
        color: whitesmoke;
        cursor: pointer;
        border: .1em solid #ccc;
        border-radius: 9%;
        
        &--dropArea{
            display: inline-block;
            padding: 10px;
            background: #ccc;
            cursor: pointer;
        }

        &--update{
            background-image: url(../../img/icons/edit.svg);
        }
        
        &--borrar{
            background-color: rgba(255, 0, 0, 0.82);
            background-image: url(../../img/icons/trash.svg);
        }

        &:hover{
            filter: opacity(60%);
        }

        &:disabled {
            z-index: -1;
            filter: opacity(30%);
        }
    }

    input[type="checkbox"]{
        display: inline;
        width: 12px;
        height: 15px;
    }

    form .mensaje-validacion {
        border: 1px solid crimson;
        background-color: gold;
        color: darkred;
        margin: 2px 0 10px 0;
        border-radius: 5px;
        display: none;
    }

    table{
        width:100%;
    }
    table, th, td{
        border:  none;
        border-collapse: collapse;
        text-align: justify;
        
    }

    .btn{
        padding: 1.5em 1.5em;
        background-repeat: no-repeat;
        background-position: center;

        &:disabled {
            position: relative;
            z-index: -1;
            filter: opacity(30%);
        }
    }

    #listado-productos{
        margin-top: 2em;
        width: auto;
    }

/* BREAKPOINT 768 - BEGIN */
    
        @media (max-width: 768px){
            
            th, td {
                overflow: hidden;
                font-size: .7rem;
                text-align: center;
                text-overflow: ellipsis;
            }

            th {
                font-size: .7rem;
                color: whitesmoke;
                background-color: black;
                //padding: 1px;
            }

            td button {
                            width:fit-content;
                            font-size: .9em;
                            padding: 1.2em;  
                        } 


            table {
                overflow: hidden;
                table-layout: fixed;
                border-collapse: collapse;
                margin: 0.5px;
                margin-bottom: 15px;
                width: 100%;
            }

            table, td{
                border: none;
            }

            .btn{
                height: 4em;
                border-radius: 25%;
                }
        }
    

/* BREAKPOINT 768 - END*/


    /* DROP AREA */

    #drop-area {
        border: 5px dashed #ccc;
        border-radius: 20px;
        width: 300px;
        margin: 25px 0;
        padding: 20px;
    }

    #foto{
        display: none;
    }

    #gallery img{
        width: 100px;
        margin-top: 10px;
        margin-right: 10px;
        vertical-align: middle;
    }

    #drop-area.highlight {
        border-color: purple;
    }
}


