#contact {
    outline: none;
    margin: 4em 2em 3em;
    border-radius: 0.25rem;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 20em;

    @media (max-width: 768px){
      &{
        outline: none;
        width: auto;
      }
    }
  }

  #contact label{
    display: none;
  }

  #contact>input, #contact>textarea, #contact>label{
    margin-bottom: 2em;
    background-color: rgb(203, 203, 203);
    border: .1em solid rgb(170, 170, 170);
  }

  #contact>input, #contact>textarea{
    width: 100%;

    @media (max-width: 768px){
      &{
        width: 90%;
      }
    }
  }

  #contact>input{
    height: 40px;
  }

  .btn{
   background-color: blue;
   color: white; 
   padding: 1em 1.5em;
   border-radius: 2px;
  }